<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Testing websockets.....
    <script>
        const group = "customgroup"
        const urlPath = window.location.pathname; // e.g., "/checkwebsockets/abc"

            const lastSegment = urlPath.split('/').filter(segment => segment).pop();

            console.log("Last Segment:", lastSegment); // Outputs: "abc"

            let userId = "ca"

        const socket = new WebSocket(`ws://127.0.0.1:8000/ws/callingagent/${userId}/`);

socket.onopen = () => {
    console.log("WebSocket connection established.");
    const message = {
        type: "send_notification", // Custom type (optional)
        text: "Hello from JavaScript!",
        "users":["a","b","CAKID001"]
    };
    // socket.send(JSON.stringify(message));
};

socket.onmessage = (event) => {
    console.log("Received:", event.data);
};

    </script>
</body>
</html>